.textWrapper {
    text-align: center;
    font-size: 42px;
    max-width: 709px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 151px 0 42px;

    background-color: #fff;
    box-shadow: 0px 0px 60px 60px white;
}

.textWrapper > p:nth-child(1),
.textWrapper > p:nth-child(2) {
    margin-bottom: 50px;
    max-width: 660px;
}

@media screen and (min-width: 320px) {
    .textWrapper {
        width: 70%;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 620px) {
    .textWrapper {
        width: 80%;
        font-size: 2em;
    }
}