.heroContainer {
    max-width: 1500px;
    padding: 100px 0 105px;
    position: relative;
}

.heroContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 90%;
    height: calc(100% - 60px);
    border: 6px solid #13552f;
    transform: translate(-50%, 0%);
}

.heroBg {
    width: 100%;
    margin-bottom: 56px;
}

.names {
    font-size: 90px;
    text-align: center;
    margin: 0 auto 56px;
}

.date {
    padding: 19px 79px;
    font-size: 52px;
    background-color: #13552f;
    width: fit-content;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 10;
}

.date > p {
    color: #fff;
}

@media screen and (min-width: 320px) {
    .names {
        width: 80%;
        font-size: 3em;
        margin-bottom: 0px;
    }

    .date {
        font-size: 2em;
        padding: 19px 50px;
    }
}

@media screen and (min-width: 620px) {
    .names {
        font-size: 4em;
    }

    .date {
        font-size: 2em;
        padding: 19px 50px;
    }
}