.timerWrapper {
    text-align: center;
    font-size: 42px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 151px 0;

    background-color: #fff;
    box-shadow: 0px 0px 20px 20px white;
}

.title {
    margin-bottom: 50px;
}

.items {
    display: flex;
}

.item {
    text-align: center;
    font-size: 32px;
    margin: 0 20px;
}

@media screen and (min-width: 320px) {
    .item {
        /*width: 70%;*/
        font-size: 0.7em;
        margin-bottom: 20px;
    }
    .items {
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: 0.7em;

    }
}

@media screen and (min-width: 620px) {
    .item {
        width: 70%;
        font-size: 1em;
    }

    .items {
        flex-direction: row;
    }

    .title {
        font-size: 1em;
    }
}