.addressWrapper {
    padding: 117px 0 153px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addressWrapper > p {
    max-width: 646px;
    text-align: center;
    font-size: 52px;
    background-color: #fff;
    box-shadow: 0px 0px 60px 60px white;
}

@media screen and (min-width: 320px) {
    .addressWrapper > p {
        width: 70%;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 620px) {
    .addressWrapper > p {
        width: 80%;
        font-size: 2em;
    }
}