* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: "Sofia Sans", sans-serif;*/
  font-style: normal;
  /* color: #4C4C4C; */
}

body {
  background-image: url("./assets/wedding-bg.png");
  background-position: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}